.git
.github
.agents
.gemini
node_modules
vendor
tests
.env
.env.*
!.env.example
npm-debug.log
yarn-error.log
*.md
.editorconfig
.phpunit.result.cache
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
